<html>
    <head>
        <title>Task List</title>
    </head>
    <body>
        <form method="POST" action="/add">
            <input type="text" name="task_name">
            <input type="text" name="due_date">
            <input type="submit" value="Add Task">
        </form>
        <table border="5">
        <tr>
            <th>Task Name</th>
            <th>Is Completed?</th>
        </tr>
        {%for task in TaskList %}
        <tr>
            <form method="POST" action="/update">
                
                <td> 
                    <input type="hidden" name="id" value="{{task[0]}}">
                    <input type="text" name="updateTask" value="{{task[1]}}">
                </td>
                <td>{{task[2]}}</td>
                <td> <input type="submit" name="save_or_delete" value="save"></td>
                <td>
                    <input type="submit" name="save_or_delete" value="delete">
                </td>
            </form>
        </tr>
        {% endfor %}
    </table>
    </body>
    
</html>